.main-header{
        background-image: url("images/banner.jpg");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;
        color: #df631b;
        }

.contact-recipe {
        padding-left: 50px;
        
}

form {
    width: 500px;
}

input[type=text], input[type=tel], input[type=email], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px #3f2211 solid;
            border-radius: 5px;
          }  

input[type=text]:focus {
        background-color: rgb(223, 239, 245);
          }    
          
button {
            background-color: #3f2211;
            color: white;
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 5px;
          }